PORT=5000
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5433/sendwise
REDIS_URL=redis://localhost:6379
ELASTICSEARCH_URL=http://localhost:9200

WORKER_CONCURRENCY=5
MIN_EMAIL_DELAY_MS=2000
MAX_EMAILS_PER_HOUR=100

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=jbdvbj7xgkkaytfu@ethereal.email
SMTP_PASSWORD=tK6QqpQVtqpBuErgAF

GOOGLE_CLIENT_ID=227216496862-1f9u69no8obivntbfumkvrpo3jvg7748.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

SLACK_CLIENT_ID=12164552527089.12162490300498
SLACK_CLIENT_SECRET=f40e349983fad457437ed0eff661f23c
SLACK_REDIRECT_URI=http://localhost:5000/api/slack/callback

FRONTEND_URL=http://localhost:5173
JWT_SECRET=super_secret_jwt_key
